<mat-card>
    <mat-card-title>Define learning process</mat-card-title>
    <mat-card-subtitle>Use this section to define what rules will apply to your learning process (amount of epochs, max
        amount of error, etc.).</mat-card-subtitle>

    <div class="grid-container">
        <mat-form-field>
            <mat-label>Maximum amount of epochs</mat-label>
            <input matInput type="number" [(ngModel)]="epochs_limit" placeholder="# of Epochs">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Minimum error allowed</mat-label>
            <input matInput type="number" min="0" max="100" [(ngModel)]="error_limit" placeholder="Error allowed">
            <span matSuffix>%&nbsp;</span>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Learning Rate</mat-label>
            <input matInput type="number" [(ngModel)]="learning_rate" placeholder="learning rate">
        </mat-form-field>
    </div>

    <div class="grid-container">
        <!-- Features to analize -->
        <section class="grid-section">
            <span class="checkbox-list-section">
                <mat-checkbox class="example-margin" color="primary" [checked]="selectedAllFeatures"
                    [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                    {{feature.name}}
                </mat-checkbox>
            </span>
            <span class="checkbox-list-section">
                <ul>
                    <li *ngFor="let subfeature of feature.subfeatures">
                        <mat-checkbox [(ngModel)]="subfeature.selected" color="primary"
                            (ngModelChange)="updateAllFeaturesSelected()">
                            {{subfeature.name}}
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>

        <!-- Feature to predict -->
        <div class="grid-section">
            <label style="font-size: 1.1rem;">Feature to predict</label>
            <mat-radio-group aria-labelledby="feature-radiogroup-label" class="feature-radiogroup"
                [(ngModel)]="predict_feature">
                <mat-radio-button color="primary" class="feature-radiobutton" *ngFor="let feature of selected_features"
                    [value]="feature">
                    {{feature}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

    </div>


    <br>

    <button style="margin-bottom: 10px;" id="run_btn" (click)="run()" mat-flat-button color="accent"
        [disabled]="running && valid_params">Run</button>

    <!-- Process Elements -->
    <div *ngIf="show_process == true">
        <div echarts [options]="mse_chart_options" [merge]="updateOptions" class="demo-chart"></div>
    </div>

    <mat-progress-bar style="margin-top: 10px;" *ngIf="running == true" mode="indeterminate">
    </mat-progress-bar>
</mat-card>