/* DEFAULTS */
table {
    width: 100%;
    margin-top: 1%;
}

/* CLASSES */
.mat-progress-bar {
    margin: 1rem 0;
}

.separator-radiogroup {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.separator-radiobutton {
    margin: 5px;
}

/* IDs */
#first-row-names {
    margin: 0 10px;
}

#separator-radiogroup-label {
    font-size: 1.1rem;
}