<mat-card>
    <mat-card-title>Prepare your dataset</mat-card-title>
    <mat-card-subtitle>
        Use this section to upload and prepare your data set. (Please make sure the content of your file is in CSV
        format)
    </mat-card-subtitle>

    <!-- Upload csv file -->
    <div class="form-group">
        <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)" />
        <button id="file-input" mat-flat-button color="primary" (click)="csvInput.click()">Choose Dataset File
            (CSV)</button>

        <mat-checkbox id="first-row-names" color="primary" [(ngModel)]="first_row_names">
            First row is names
        </mat-checkbox>
    </div>

    <!-- choose separator -->
    <br>
    <label id="separator-radiogroup-label">Separator:</label>
    <mat-radio-group aria-labelledby="separator-radiogroup-label" class="separator-radiogroup" [(ngModel)]="separator">
        <mat-radio-button color="primary" class="separator-radiobutton" *ngFor="let sep of separator_options"
            [value]="sep">
            {{sep}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-progress-bar *ngIf="loading == true" mode="indeterminate"></mat-progress-bar>
</mat-card>